<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Codecool Shop</title>

    <div th:replace="layout.html :: bootstrap"></div>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <script src='/static/js/shoppingCartJs.js' type="module"></script>
    <script src='/static/js/filter.js' type="module"></script>
    <script src='/static/js/userManager.js' type="module"></script>

</head>

<body>
<nav class="navbar navbar-expand-sm" style="background-color: #3D424A;">
    <ul class="navbar-nav ml-auto" id="user-buttons">
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li>
            <div class="btn-nav"><button type="button" class="btn btn-success" style="margin-right: 25px"
                                         data-bs-toggle="modal" data-bs-target="#exampleModal">My Cart
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
            </div>
        </li>
    </ul>
</nav>

<div class="jumbotron text-center">

    <h1><img src="/static/img/Smoke_logo.png" height="96px" width="96px">Smoke</h1>
</div>

<div class="card">
    <strong>Search: </strong>
</div>
<div class="container">
    <div class="search-terms">
        <br>
        <div style="margin-bottom: 10px">Category: </div>
        <div th:replace="category.html :: category"></div>
        <div style="margin-bottom: 10px; margin-top: 15px">Suppliers: </div>
        <div th:replace="supplier.html :: supplier"></div>
    </div>
    <div id="products" class="row row-cols-5">
        <div class="col" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img height="240" class="product-picture" src="/static/img/placeholder.png" th:attr="src='/static/img/product_' + ${prod.id} + '.png'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success addToCart" th:attr="productID=${prod.id}" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="ShoppingCartModal.html :: modal"></div>
<div th:replace="footer.html :: copy"></div>

</body>
</html>