<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="suppliers" th:fragment="supplier">
    <div th:each="supplier,iterStat : ${suppliers}">
        <input type="checkbox" class="supplier" id="supplier" name="supplier"
               th:id="${supplier.name}"
               th:name="${supplier.name}"
               th:attr="data-id=${supplier.id}">
        <label for="supplier" th:for="${supplier.name}" th:text="${supplier.name}">Supplier</label>
    </div>
</div>

</body>
</html>