<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Codecool Shop | Login</title>

    <div th:replace="layout.html :: bootstrap"></div>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
    <div class="jumbotron text-center" style="margin-top: 25px">
        <h1><img src="/static/img/Smoke_logo.png" height="96px" width="96px">Smoke</h1>
    </div>
    <div class="jumbotron text-center">
        <br><h1>Login</h1>
    </div>
    <div class="text-center" style="margin-top: 20px">
        <form action="/login" method="post">
            <h4 style="color:white">Username/E-mail:</h4>
            <input type="text" name="user">
            <h4 style="color:white; margin-top: 10px">Password:</h4>
            <input text="text" name="password">
            <br>
            <a href="/register">Not registered yet? Click here!</a>
            <br><br><input type="submit" value="Login">
        </form>
    </div>
</body>
</html>