<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Codecool Shop | Register</title>

    <div th:replace="layout.html :: bootstrap"></div>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
<div class="jumbotron text-center" style="margin-top: 25px">
    <h1><img src="/static/img/Smoke_logo.png" height="96px" width="96px">Smoke</h1>
</div>
<div class="jumbotron text-center">
    <br><h1>Register</h1>
</div>
<th:block th:switch="${user} == null">
    <div class="text-center" style="color: red" th:case="false">
        <p>Username/E-mail already in use, please use another one!</p>
    </div>
</th:block>
<div class="text-center" style="margin-top: 20px">
    <form action="/register" method="post">
        <h4 style="color:white">Username:</h4>
        <input type="text" name="username">
        <h4 style="color:white; margin-top: 10px">E-mail:</h4>
        <input type="email" name="email">
        <h4 style="color:white; margin-top: 10px">Password:</h4>
        <input type="password" name="password">
        <br>
        <a href="/login">Already have an account? Click here!</a>
        <br><br><input type="submit" value="Register">
    </form>
</div>
</body>
</html>